{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
         {% csrf_token %}
        <!-- SEMPRE USAR enctype="multipart/form-data" -->
        <div>
            <label>Primeiro nome:</label>
            <input id="first_name" type="text" name="first_name">
        </div>

        <div>
            <label> Sobrenome: </label>
            <input id="last_name" type="text" name="last_name">
        </div>

        <div>
            <label>Idade:</label>
            <input id="age" type="number" name="age">
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}
