{% extends "base.html" %}





{% block content %}

<h5>{{title}}</h5>

<a class="btn btn-primary" href="/persons/add/">
  Add
</a>

<div class="card mb-3">
            <div class="card-header">
            <i class="fas fa-table"></i>
              Pessoas</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nome</th>
                      <th> Sobrenome</th>
                      <th>Idade</th>
                      <th>Opções></th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th> Sobrenome</th>
                        <th>Idade</th>
                        <th>Opções></th>

                    </tr>
                  </tfoot>
                  <tbody>

                    {% for l in lista %}
                     <tr>
                         <td>{{l.id}}</td>
                         <td>{{l.first_name}}
                         <td>{{l.last_name}}</td>
                         <td>{{l.age}}</td>
                         <td>
                             <a class="btn btn-primary" href="/persons/{{l.id}}/edit/">
                               <i class="fas fa-edit"></i>
                             </a>
                             <a class="btn btn-primary" href="/persons/{{l.id}}/edit/">
                               <i class="fas fa-user"></i>
                             </a>
                         </td>
                    </tr>
                    {% endfor %}



                  </tbody>
                </table>
              </div>

            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

{% endblock %}
