{% extends "base.html" %}

{% block content %}

    <form action="" method="post" enctype="multipart/form-data">
         {% csrf_token %}
        <div>
            <label>Primeiro nome:</label>
            <input id="first_name" type="text" name="first_name" value="{{ person.first_name }}">
        </div>

        <div>
            <label> Sobrenome: </label>
            <input id="last_name" type="text" name="last_name" value="{{ person.last_name }}">
        </div>

        <div>
            <label>Idade:</label>
            <input id="age" type="number" name="age" value="{{ person.age }}">
        </div>

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}
